.contlogin{
   height: 90vh;
   width: 100%;
   display: flex;
   justify-content: center;
}

.inpcont{
height:70vh;
width: 25vw;
padding-bottom: 2vh;
border: 1px solid black;
border-radius: 8px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.loginlogo{
    height: 20%;
    width: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}
.inputform{
    height: 80%;
    width: 90%;
    
}
.inputform input{
    height: 10%;
    width: 100%;
    padding: 1%;
    font-size: 1.1rem;
    border-radius: 6px;
    display: flex;
    border: 2px solid black;
}
label{
    align-self: start;
    font-size: 1.2rem;
}
.forminput{
    height: 100%;
    width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 4vh;
}

@media (max-width:600px) {
    .inpcont{
        width: 90%;
    }
    
    .inputform input{
        width: 100%;
        height: 10%;
        font-size: 1.3rem;
    }
}