.contlogin{
   height: 90vh;
   width: 100%;
   display: flex;
   justify-content: center;
}

.inpcont{
height:70vh;
width: 25vw;
padding-bottom: 2vh;
border: 1px solid black;
border-radius: 12px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.loginlogo{
    height: 20%;
    width: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}
.inputform{
    height: 80%;
    width: 100%;
    
}
.inputform input{
    height: 5vh;
    width: 20vw;
    padding-left: 1vw;
    font-size: 1.2rem;
    border-radius: 12px;
    flex-shrink: 0;

}
label{
    
    display: block;
}
.forminput{
    height: 100%;
    width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 4vh;
}

@media (max-width:600px) {
    .inpcont{
        width: 80%;
    }
    
    .inputform input{
        width: 100%;
        font-size: 1.3rem;
    }
}