@import "@fortawesome/fontawesome-free/css/all.css";


.sidebarmain{
    height: 90vh;
    width: 70px;
    position: fixed;
    left: 0;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: width 0.1s ease;
    z-index: 1000;
    background-color: white;
}



.sidebarmain:hover{
    width: 250px;
}

.slide1{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.slide2{
    height: 15%;
    width: 100%;
    position: relative;
    bottom: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.slidelink{
    height: 10%;
    width: 85%;
    
    
}
.sidebarmain a{
    color: black;
}

.slides{
    height: 100%;
    width: 98%;
    padding-left: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 1.2rem;
}
.links{
    height: 100%;
    width: 50%;
display: none;
}
.sidebarmain:hover .links{
    display: inline;
width: 100%;

}


/* slide2  */

.slide2 .slidelink{
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    
}

@media (max-width:900px) {
   
    .sidebarmain{
       height: 10vh;
       width: 100vw;
       border: none;
       border-top: 2px solid #000;
       position: fixed;
       bottom: 0;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-evenly;
       transition: none;
    }
    
.slide2{
    display: none;
}

.slide1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.slidelink{
    height: 100%;
    width:100%;
    border: none;

}
.sidebarmain:hover{
   width: 100%;
}

.sidebarmain:hover .links{
    display: none;

}
.slides{
    font-size: 1.5rem;
    border: none;
}
.two,.four{
display: none;
}


}