.contcomment{
    height:max-content;
    width: 97%;
    padding: 1%;
    border-radius: 12px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 2px solid rgb(0, 0, 0);
}

#inputs{
 height:25vh;
width: 98%;   
}
.inputs{
height:25vh;
width: 98%;
border-bottom: 2px solid black;
padding: 2%;
align-self: center;
display: flex;
flex-direction: column;
gap: 25%;
}

#input{
    height: 100%;
    width: 100%;
    font-size: 1.1rem;
    text-transform: capitalize;
    border-radius: 12px;
}
#input::placeholder{
    font-size: 1.2rem;
    text-transform: capitalize;
}


/* commentsall */
.cmmntcontent{
    height:15vh;
    width: 98%;
    border-bottom: 2px solid black;
    padding: 1%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.img{
    height: 50px;
    width: 50px;
    align-self: center;
}
.cmmnt{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.content{
    height:100%;
    width: 75%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.content h4,p{
    margin: 0;
    padding: 0;
}