.maineditprofile{
    height: max-content;
    width: 100%;
    position: relative;
}
.editupperinfos{
    height: 50%;
    width: 100%;
}
.editcoverimagecont{
    height: 40vh;
    width: 100%;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#coverimagelabel{
    height: 100%;
    width: 100%;
  cursor: pointer;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#inputcoverimage{
    opacity: 0;        
  width: 0.1px;      
  height: 0.1px;    
  position: absolute; 
  z-index: -1;   
}
.coverimagecont img{
    height: 100%;
    width: 100%;
}
.editchannelinfocont{
    width: 100%;
    border-bottom: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}
.editavatarchannel{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
#avatarlabel{
  cursor: pointer;
  font-size: 3rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#avatarinput{
     opacity: 0;        
  width: 0.1px;      
  height: 0.1px;    
  position: absolute; 
  z-index: -1; 
}
.uploadavatars{
    height:250px;
    width: 250px;
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    position: relative;
    top: -5vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.editmetadata{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1vh;
    word-break: break-all;
    /* background-color: pink; */
}
.editmetadata h3{
    margin: 0;
    padding: 0;
}


/* tags  */
.editcomponenttags{
    height:6vh ;
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.editcomponenttags button{
    height: 80%;
    width: 50%;
    border-radius: 0;
    background-color: transparent;
    border: none;
    outline: none;
}
.editcomponenttags button:focus{
    border: none;
    outline: none;
}
.editcomponenttags button:hover{
   border: none;
    outline: none; 
    background-color: rgb(255, 240, 240);
}

/* comps  */

.editcompschannel{
    height: max-content;
    width: 100%;
    padding-bottom: 2vh;
    
}

@media (max-width:900px) {
.editavatarchannel{
    width: 25%;
}

    .uploadavatars{
        height: 150px;
        width: 150px;
    }
    
    
}

@media (max-width:600px) {

    
    .editavatarchannel{
    height: 100%;
    width: 35%;
   
}
.editmetadata{
    width: 60%;
    padding-bottom: 2vh;
}
.editcoverimagecont{
    height: 20vh;
    width: 100%;
}
.uploadavatars{
    height:120px;
    width:120px;
    top: -5vh;
    
    
}

.viewchannel{
    height: 100%;
    width: 30%;
    font-size: 1rem;
}


    
}