.passchangemain{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.passtext{
    height: 100%;
    width: 35%;
}
.passchangeform{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
}
#passinfoform{
    width: 100%;
    display: flex;
    border: 2px solid black;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.passinfoform{
    height: 85%;
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.passinfoform input{
    height: 8%;
    width: 90%;
    padding: 1%;
    font-size: 1.2rem;
    color: black;
    border-radius: 14px;
    background-color: transparent;
}
.passinfoform input::placeholder{
    color: black;
}
.passinfoform label{
    font-size: 1rem;
    margin: 0;
    padding: 0;
    align-self: flex-start;
}


.passbuttonsave{
    height: 15%;
    width: 100%;
    padding: 1%;
    border-top: 2px solid #000;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

@media (max-width:600px) {
    .passchangemain{
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }
    .passtext{
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .passchangeform{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #passinfoform{
        height: max-content;
        width: 95%;
    }
    
    .passinfoform input{
        height: 6vh;
    }
}