
.playlistcont{
     height: max-content;
  width: 100%;
  padding: 1vw;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
}
.playlist{
    height: 400px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid black;
}
.imgplaylist{
    height: 100%;
    width: 100%;
    z-index: -1;
}
#playlistimage{
    height: 100%;
    width: 100%;
        border-radius: 8px;

}
.infoplaylist{
    height: 15%;
    width: 100%;
    margin-top: -80px;
    border-top: 2px solid white;
    background-color: rgb(151, 151, 151);
    opacity: .9;
    display: flex;
    justify-content: space-between;
}
.playlistname{
    height: 100%;
    width: 30%;
     word-break: break-all;
    overflow: auto;
    margin-left: 5px;
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
}
.playlistname p{
    margin: 0;
}
#videocount{
    height: 100%;
    width: 30%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.edits{
    height: 40%;
    width: 20%;
    position: relative;
    bottom: 90%;
    left: 80%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}
/* formforedit */
.editform{
    height: 100vh;
    width: 100vw;
    z-index: 50;
    position: fixed;
    top: 10vh;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
   justify-content: center;
    background-color:transparent;
}

.editmain{
    height:80%;
    width: 600px;
    color: white;
    padding-bottom: 2vh;
    background-color: rgb(0, 0, 0,0.8);
    border: 2px solid black;
}
.headedit{
    height: 20%;
    width: 96%;
    padding: 2%;
    font-size: 1.3rem;
    color: white;
    border-bottom: 2px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.editbtns{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.editsinfo{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.editsinfo input{
    height: 50px;
    width: 94%;
    color: white;
    padding: 1%;
    background-color: transparent;
    font-size: 1.2rem;
    border: 2px solid rgb(255, 255, 255);
}
.editsinfo input:focus{
    outline: none;
}

.editsinfo input::placeholder{
    color: rgb(255, 255, 255);
}


.editsinfo textarea::placeholder{
    color: rgb(255, 255, 255);
}
.editsinfo textarea:focus{
    outline: none;
}

@media (max-width:900px) {
.playlistcont{
    width:100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    
}
.playlist{
    height: 300px;
    width:90vw;
    border-radius: 12px;
    border: 2px solid rgb(0, 0, 0);
    
}
.infoplaylist{
    height: 20%;
}
.editform{
    height: 100%;
    width: 95%;
    justify-self: center;
}
.editmain{
    height: 70%;
}
.editbtns{
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}
}