.dashboard{
    height: max-content;
    width: 100%;
    margin-bottom: 5vh;
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.editvideo{
    height: 90%;
    width: 100%;
    position: fixed;
    top: 10vh;
    left: 0;
    z-index: 1;
    background-color:transparent;
    backdrop-filter: blur(6px);
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoeditform{
height: 80%;
width: 40%;
display: flex;
flex-direction: column;
z-index: 1000;
}
.formcont{
    height: 100%;
    width: 100%;
}

.headbtns{
    height:15%;
    width: 96%;
    border-radius: 8px;
    padding: 2%;
    border-bottom: 2px solid white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
}


.videoinputs{
    height: 90%;
    width: 96%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
}
.videoinputs input{
    height: 10%;
    width: 100%;
    color: white;
    border: 2px solid white;
    font-size: 1.2rem;
    padding: 1%;
    border-radius: 8px;
    background-color: transparent;
}
.videoinputs input:focus{
    outline: none;
}
.videoinputs input[type="file"]{
    border: 2px solid rgb(255, 255, 255);
}
.videoinputs input[type="file"]::file-selector-button{
    height: 100%;
    width: 50%;
}

.videoinputs label{
    color:white;
    margin: 0;
    padding: 0;
    align-self: flex-start;
}

.videoinputs textarea{
    resize: none;
    border-radius: 8px;
    border: 2px solid white;
    background-color: transparent;
    font-size: 1.2rem;
    color: white;
    height:40% ;
    width: 88%;
    padding: 2%;
}



/* main  */
.dashtext{
height: 20vh;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
gap: 1vh;
}
.dashtext h1,h2,p{
    margin: 0;
    padding: 0;
    color: black;
}
.dashtext h1{
    margin-bottom:3vh ;
}

#dashinfos{
    height: max-content;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.box{
    height: 20vh;
    width: 30%;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid black;
}
.box h1{
    margin: 0;
}


.dashboardwork{
    height: 10vh;
    width: 95%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.videostatus{
   height: 10vh;
    width: 95%;
    padding: 2vw;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    gap: 2vw; 
}

.videostatus h4{
    overflow: auto;
}

.imgg{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.operations{
    display: flex;
    gap: 1vw;
}

@media (max-width:900px) {
    .editvideo{
        height: 85vh;
        display: flex;
        align-items: flex-start;
    }
    .videoeditform{
        height: 80%;
        width:90%;
    }
    #dashinfos{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vh;
    }
    .box{
        height: 16%;
        width: 90%;
    }
    .dashboardwork{
        font-size: .65rem;
    }
    .videostatus{
        /* width: 100%; */
        font-size: .7rem;
        overflow: auto;
    }
}