#home{
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}
.search{
    height:10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{
    height: 45px;
    width: 30%;
    border-right: none;
    padding-left: 2%;
    font-size: 1.2rem;
    border-bottom-left-radius: 999px;
    border-top-left-radius: 999px;
    box-sizing: border-box;
}
.search input:focus{
    outline: none;
}
#icon{
    height: 45px;
    width: 5%;
    border-left:none;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom-right-radius: 999px;
    border-top-right-radius: 999px;
    box-sizing: border-box;
    background-color: rgb(237, 237, 237);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}


.videosall{
   height: max-content;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
}

.specificvideo{
    height:300px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
}
.vdo{
   height:300px;
    width: 400px;
    border: 2px solid black;
    border-radius: 14px;
    display: flex;
    align-items: center;  
}


@media (max-width:900px) {
    #home{
        height: max-content;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    .videosall{
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }
    .specificvideo{
        height: max-content;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .vdo{
        width: 100%;
        height: 50vh;
    }
    .search input{
        width: 80%;
    }
    #icon{
        width: 10%;
    }
}


@media (max-width:600px) {
   .vdo{
        width: 100%;
        height: 50vh;
        
    } 
}