#likedvideo{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}
.heading{
    height: 10%;
    width: 100%;
}
.likedmain{
    height: max-content;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
}

.likedvideoss{
   height:300px;
    width: 400px;
    border: 2px solid black;
    border-radius: 14px;
    display: flex;
    align-items: center;
}

@media (max-width:900px) {

     #likedvideo{
        height: max-content;
        width: 100vw;
        display: flex;
        flex-direction: column;
        
    }
    .likedmain{
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .likedvideoss{
        height: 50vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

@media (max-width:600px) {
   .likedvideoss{
        height: 40vh;
        width: 100%;
        
    }
}