.mainchannelcont{
    height: max-content;
    width: 100%;
    position: relative;
}
.upperinfos{
    height: 50%;
    width: 100%;
}
.coverimagecont{
    height: 40vh;
    width: 100%;
}
.coverimagecont img{
    height: 100%;
    width: 100%;
}
.channelinfocont{
    width: 100%;
    border-bottom: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}
.avatarchannel{
    height: 100%;
    width: 15%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.avatarchannel img{
    height:150px;
    width: 150px;
    border: 2px solid rgb(0, 0, 0);
    position: relative;
    top: -5vh;
    /* left: 20%; */
    border-radius: 50%;
}
.channeldatas{
    height: 100%;
    width: 70% ;
    display: flex;
    justify-content: space-between;
}
.metadata{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.metadata h3{
    margin: 0;
    padding: 0;
}
.editchannel{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* tags  */
.componenttags{
    height:6vh ;
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.componenttags button{
    height: 80%;
    width: 24%;
    border-radius: 0;
    background-color: transparent;
    border: none;
    outline: none;
}
.componenttags button:focus{
    border: none;
    outline: none;
}
.componenttags button:hover{
   border: none;
    outline: none; 
    background-color: rgb(255, 240, 240);
}

/* comps  */

.compschannel{
    height: max-content;
    width: 100%;
}

@media (max-width:900px) {
.avatarchannel{
    width: 20%;
}

    .avatarchannel img{
        height: 100px;
        width: 100px;
    }
    .channeldatas{
        width: 80%;
        height: 10vh;
    }
    
}

@media (max-width:600px) {
    .avatarchannel{
    height: 100%;
    width: 35%;
   
}
.coverimagecont{
    height: 20vh;
    width: 100%;
}
.avatarchannel img{
    height:80px;
    width: 80px;
    top: -2vh;
    
}
.channeldatas{
    height: 100%;
    width: 70% ;
    
}
.metadata{
    width: 70%;
    display: flex;
    font-size: .8rem;
    flex-direction: column;
    justify-content: center;
}

.editchannel{
    height: 100%;
    width: 35%;
    font-size: .9rem;
    display: flex;
    justify-content: flex-start;
   
}
.componenttags button{
    font-size: .9rem;
}
    
}