.mainchannelcont{
    height: max-content;
    width: 100%;
    position: relative;
}
.upperinfos{
    height: 50%;
    width: 100%;
}
.coverimagecont{
    height: 40vh;
    width: 100%;
}
.coverimagecont img{
    height: 100%;
    width: 100%;
}
.channelinfocont{
    height: max-content;
    width: 100%;
    border-bottom: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}
.avatarchannel{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.avatarchannel img{
    height:250px;
    width: 250px;
    border: 2px solid rgb(0, 0, 0);
    position: relative;
    top: -5vh;
    border-radius: 50%;
}

.metadata{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
}



/* tags  */
.componenttags{
    height:6vh ;
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.componenttags button{
    height: 80%;
    width: 24%;
    border-radius: 0;
    background-color: transparent;
    border: none;
    outline: none;
}
.componenttags button:focus{
    border: none;
    outline: none;
}
.componenttags button:hover{
   border: none;
    outline: none; 
    background-color: rgb(255, 240, 240);
}

/* comps  */

.compschannel{
    height: max-content;
    width: 100%;
}

 @media (max-width:900px) {
.avatarchannel{
    width: 25%;
}
.channelinfocont{
    padding-bottom: 2vh;
}

    .avatarchannel img{
        height: 150px;
        width: 150px;
    }
    .metadata{
        width: 70%;
        height: max-content;
    }
    
}

@media (max-width:600px) {
    .avatarchannel{
    height: 100%;
    width: 35%;
   
}
.coverimagecont{
    height: 20vh;
    width: 100%;
}
.avatarchannel img{
    height:120px;
    width: 120px;
    top: -5vh;
    
}

.metadata{
    width: 60%;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
}


.componenttags button{
    font-size: .9rem;
}
    
} 