#history{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}
.heading{
    height: 10%;
    width: 100%;
    text-align: center;
}
.mainhistory{
     height: max-content;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
}

.historyvideo{
   height:300px;
    width: 400px;
    border: 2px solid black;
    border-radius: 14px;
    display: flex;
    align-items: center;
}

@media (max-width:900px) {
   #history{
        height: max-content;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    .mainhistory{
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .historyvideo{
        height: 50vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
}

@media (max-width:600px) {
   .historyvideo{
        height: 35vh;
        width: 100%;
        
    }
}