.playlistpage{
    height: max-content;
    width: 100%;
    display: flex;

}

.playlistleft{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}
.coverphoto{
    width: 90%;
    height: 50vh;
    border: 1px solid black;
}
.coverphoto img{
    height: 100%;
    width: 100%;
}
.metadataplaylist{
    height: 20%;
    width: 96%;
    padding: 2%;
    position: relative;
    top: -30%;
    background-color: rgba(172, 172, 172, 0.708);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.ownersdata{
    height:20vh;
    width: 100%;
    padding-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
}

#playchnnlimg{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#playchnnlimg img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#chnnldata{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}



/* right  */
.playlistright{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

#playlistvideo{
    height: max-content;
    width: 95%;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}
.videoofply{
    height: 300px;
    width: 400px;
    border: 1px solid black;
    border-radius: 12px;

}
.buttondelete{
    height: 20%;
    width:2%;
    padding-right: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}





@media (max-width:900px) {
.playlistpage{
    height:max-content;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.playlistleft{
    height: 50vh;
    width: 100%;
    display: flex;
    border-bottom: 1px solid gray;
    flex-direction: column;
    align-items: center;
}
.coverphoto{
    height: 80%;
}
.playlistright{
    width: 100%;
    height: max-content;
    padding-top: 2vh;
}
.playlistleft,.playlistright{
    width: 100%;
}
    #playlistvideo{
        border: none;
    }
    .videoofply{
        width: 95%;
        height: 45vh;
    }
    .buttondelete{
        width: 10%;
        align-self: flex-end;
    }
     .ownersdata{
        gap: 6vw;
    }
    
} 
@media (max-width:600px) {
    .videoofply{
      width: 100%;
    height: 35vh;  
    }
    .playlistpage{
        padding: 0;
        margin: 0;
    }
   
}