body{
    margin: 0;
    padding: 0;
}
.maintweet{
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.addtweet{
    height: 12vh;
    width: 95%;
    padding: 1%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
}
#tweet{
height: max-content;
width: 85%;
border: none;
font-family: arial;
font-size: 1.2rem;
text-transform: capitalize;
resize: none;
}
#tweet:focus{
    outline: none;
}
.tweetbtn{
    background-color: red;
    color: white;
    align-self: flex-end;
    justify-self: end;
}

.tweetcont{
    height:max-content;
    width: 96%;
    border-bottom: 2px solid black;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-align: left;
    align-self: center;
}
.tweetimg{
    height: 60%;
    width: max-content;
    align-self: center;
}
.tweet{
    height:60px;
    width: 60px;
    border-radius: 50%;
    
}

.tweetcontent{
    height:max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
   word-break: break-all;
}
.tweetcontent h4,p{
    margin: 0;
    padding: 0;
}


@media (max-width:600px) {
    .tweetcontent{
        font-size: .9rem;
    }
}