body{
    margin: 0;
    padding: 0;
}

.playercont{
    height:max-content;
    width: 100%;
    position: relative;
    inset: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.plyleft{
    height:max-content;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* allboutvidoe */


#videoplay{
    height: 60vh;
    width: 98%;
    margin-bottom: 5%;
}
#videoinfos{
    height: max-content;
    width: 95%;
    padding-top: 2vh;
    padding-bottom: 1vh;
    margin-bottom: 5%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10%;
    border: 1px solid rgb(0, 0, 0);
}
.tittleandlike{
    width: 95%;
    padding: 1%;
    height: max-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#titles{
    height: 10%;
    margin-bottom: 2%;
    padding-left: 1%;
    
}

#likesave{
    height: 10vh;
    width: 100%;
    padding: 1%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5vw;
}
.likeee{
    width: 100px;
    border-radius: 8px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
}
#likebutton:focus{
    border: none;
    outline: none;
}
#chnnlsub{
    height: 20%;
    width: 98%;
    padding: 2%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;

}
#button:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.addply{
    height: max-content;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plyform{
    height: max-content;
    width: 220px;
    position: absolute;
    top: 600px;    
    left: 50%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;        
}
#avatarch{
    height: 100%;
    width:30%;
    display: flex;
    gap: 4%;
}
#avatarch img{
    height: 50px;
    width: 50px;
    border-radius: 50%;

}
#chnnlname{
    height: 100%;
    width: 100%;
    word-break: break-all;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
#subbtn{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
}
#des{
    height: 5vh;
    width: 100%;
    padding: 2%;
    font-family: arial;
    margin-bottom: 2%;
    border-top: 1px solid black;
    overflow: auto;
    word-wrap: break-word;

}
#des::-webkit-scrollbar{
    display: none;
}
#commentvideo{
    height:max-content;
    width: 100%;
    display: flex;
    justify-content: center;
}


 /* allvdieo */
.plyright{
    height: max-content;
    width: 28%;
}
.sidevideos{
   height:300px;
    width: 400px;
    margin-bottom: 5%;
    border: 2px solid black;
    border-radius: 14px;
    display: flex;
    align-items: center;
}

@media (max-width:980px) {
    .playercont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2vh;
    }
    .plyleft{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #videoinfos{
        box-sizing: border-box;
       
    }
    #videoplay{
        height: 50vh;
        width: 98%;
        box-sizing: border-box;
    }
    
    
    #avatar{
        width: 50%;
    }
    #commentvideo{
        width: 100%;
        height: 30vh;
        overflow: auto;
    }

    .plyright{
        width: 100%;
        border-top: 2px solid black;
        padding-top: 2vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sidevideos{
        height:50vh;
        width: 95%;
        font-size: 1rem;
    }
    .plyform{
    
    position: absolute;
    top: 500px;    
    left: 65%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;        
}
}
 
@media (max-width:600px) {
    .sidevideos{
        height: 40vh;
    }
  #videoinfos{
       font-size: .9rem;
       
    }
    .plyform{
    width: 50vw;
    position: absolute;
    top: 580px;    
    left: 30%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;        
}
} 