body{
    overflow-x: hidden;
}
h1{
    color: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}




.appcont{
  height: max-content;
  width: 100vw;
}
body::-webkit-scrollbar{
display: none; 
}
/* main content */
.outlet {
  margin-top: 10vh;   
  min-height: calc(100vh - 10vh);
  padding-top: 1vh;  
  margin-left: 80px; 

}

@media (max-width:900px) {
  .outlet {
  margin-top: 10vh;   
  min-height: calc(100vh - 10vh);
  /* padding-top: 1vh;   */
  margin-left: 0px; 
  margin-bottom: 12vh;

}
}