.contpostcard{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thumbnail{
    height:65%;
    width: 100%;
    display: flex;
    flex-direction: column;

    
}
.thumbnailink{
    height: 100%;
    width: 100%;
    line-height: normal;

}

.thmb{
    height: 100%;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.duration{
    height: 12%;
    width: 12%;
    border-radius: 6px;
    padding: 3px;
    position: relative;
    bottom:16%;
    right: -86%;
    color: white;
    background-color: rgb(0, 0, 0);
    align-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infosvideo{
    width:98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chnnl{
    height: 50%;
    width: 15%;
}
.chnnlavtr{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.allinfo{
    height: 100%;
    width: 80%;
    text-align:start;
    display: flex;
    flex-direction: column;
}
.tittle{
    height: 60%;
    overflow: hidden;

}
.allinfo h3,p{
    margin: 0;
    padding: 0;
    
}
